<!-- Custom rounded search bars with input group -->
<form action="">
  <div class="input-group">
    <input type="search" placeholder="Search for your bike!" aria-describedby="button-addon1" class="form-control border-0 bg-light">
      <div class="input-group-append">
        <button id="button-addon1" type="submit" class="btn btn-link text-primary"><i class="fa fa-search"></i></button>
      </div>
  </div>





