<div class="text-center">
  <h6><strong><%= bike.brand %> <%= bike.model %></strong></h6>
  <p><%= bike.address %></p>
  <% if !bike.rented %>
    <%= link_to 'Book', bike_path(bike), class: 'btn btn-danger' %>
  <% else %>
   <p>Unavailable</p>
  <% end %>
</div>
