<div class="row">
  <h1>Bikes</h1>
    <div class="cards-list">
        <% @bikes.each do |bike| %>
        <%= link_to bike_path(bike) do %>
        <div class="card" style="width: 18rem;">
        <%= cl_image_tag bike.photo.key, class: "card-img-top"  %>
          <div class="card-body">
            <h6><%= "#{bike.brand} #{bike.model}" %></h6>
          </div>
        </div>
        <% end %>
        <% end %>
    </div>
</div>

