.banner {
  // margin: 0;
   background: url('https://media.giphy.com/media/3oz8xwsGcaZWWB8KyY/giphy.gif')  ;
  // -webkit-background-size: cover;
  // -moz-background-size: cover;
  // background-size: cover;
  // color: #0a0a0b;
  // overflow: hidden;
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  border-radius: 0;
  margin-bottom: 20px;
  height: 100vh;
  padding-top: 40vh;
}

