.cards {
  padding-bottom: 50px;
}

.card-category{
  background-size: cover;
  background-position: center;

  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  height: 180px;
}

body{
  padding-left: 50px;
  padding-right: 50px;
}


.card-category-bikes{
  background-size: cover;
  background-position: center;
  background-color: white;
  margin-bottom: 15px;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  // box-shadow: 0 0 15px rgba(0,0,0,0.2);
  height: 180px;
}

.card-bikes{
  background-size: cover;
  background-position: center;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  // box-shadow: 0 0 15px rgba(0,0,0,0.2);
  height: 180px;
}

.card-body-bikes{
  background-size: cover;
  background-position: center;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  // box-shadow: 0 0 15px rgba(0,0,0,0.2);
  height: 180px;
}


// body{
//   padding-left: 50px;
//   padding-right: 50px;
// }

.card-img-index{
  height: 155px;
  width: 235px;
  margin-left: 75px;

}


.card-body-bikes h6 {
text-align: center;
color: gray;
  }
