.navbar {
  justify-content: space-between;
  background: transparent;
  width: 100%;
  transition: 0.5s background-color ease;
}

.navbar-grey {
  background: #a7a6a5;
  opacity: 0.9;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-light .navbar-nav .nav-link {

}

.nav-item .btn-primary {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}

